// popin de creation d'un evenement
- if (utilisateur)
	include ../popin/popin_evenement_creer
- else
	// popin d'inscription
	include ../popin/popin_inscription

	// popin d'authentification
	include ../popin/popin_authentification


// menu principal de navigation
include navbar