div.row
	div.small-12.large-4.columns
		p.text-center: small Il y a actuelement <span id="online" class="round label">0</span> connectés
	div.small-12.large-4.columns
		p.text-center: small Il y a actuelement <span class="round label">0</span> évenements
	div.small-12.large-4.columns
		p.text-center: small vous avez <span class="round label">0</span> évenements