div.row
	div.small-12.large-3.columns
		p.text-center: small Il y a actuelement <span id="visiteurs" class="round label">0</span> visteur(s)
	div.small-12.large-3.columns
		p.text-center: small Il y a actuelement <span id="connectes" class="round label">0</span> connecté(s)
	div.small-12.large-3.columns
		p.text-center: small Il y a actuelement <span id="nb-evenements"class="round label">0</span> évenement(s)
	div.small-12.large-3.columns
		p.text-center: small vous avez <span id="nb-mes-evenements" class="round label">0</span> évenement(s)