extends layout

block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-xs-12
				div.jumbotron
					h1 Officiel des sorties
		div.row
			div.col-lg-6.col-md-6.col-xs-6
				p colonne 1
			div.col-lg-6.col-md-6.col-xs-6
				p colonne 2
		div.row
			include blocks/online