extends layout

block content
	div.row(data-equalizer)
		div.large-3.medium-4.column(data-equalizer-watch)
			div.hide-for-small
				div
					h3 Recherche
					p Trouvez un évenement qui vous correspond
					a.button Trouver !
				div
					h2 Recherche
					p Trouvez un évenement qui vous correspond
					a.button Trouver
				div
					h2 Recherche
					p Trouvez un évenement qui vous correspond
					a.button Trouver

		div.large-9.medium-8.column(data-equalizer-watch)
				div
					h2 Recherche
					p Trouvez un évenement qui vous correspond
					a.button Trouver
	include blocks/online