extends layout

block content
	div.row
		div.small-12.large-12.columns.panel.bg-blanc
			h1.fg-bleu-fonce #{title}
			hr
			//- if (utilisateur.facebook)
				img(src="https://graph.facebook.com/" + utilisateur.facebook.id + "/picture")
				p #{utilisateur.facebook.name}
				p #{utilisateur.facebook.email}
			//- else if (utilisateur.local)
				p #{utilisateur.local.email}
			dl.tabs(data-tab)
				dd.active
					a(href="#panel2-1") Mes coordonnées
				dd
					a(href="#panel2-2") Paramètrage
				dd
					a(href="#panel2-3") Autorisations
				dd
					a(href="#panel2-4") Notifications
			div.tabs-content
				div.content.active#panel2-1
					p text onglet 1
				div.content#panel2-2
					p text onglet 2
				div.content#panel2-3
					p text onglet 3
				div.content#panel2-4
					p text onglet 4