@font-face
{
	font-family: officieldessorties;
	src: url(fonts/officiel.ttf);
}

body{
  background-color: #00A1D4;
  color: #FFF;
}

.reveal-modal{
  border-radius: 10px;
}

.sitename{
  font-family: officieldessorties;
  margin: 0;
  padding: 0;
  font-size: 500%;
}

.sitename a {
  color: #FFF;
}

a{
  color: #DE006E;
}

a.button{
  background-color: #DE006E;
  color: #FFF;
}

h1, h2, h3, h4 {
  color: #FFF;
}

table {
  border: none;
  border-radius: 5px;
}

.label{
  background-color: #DE006E;
}

label {
  color: #FFF;
}
legend{
  background-color: #DE006E;
}

fieldset{
  border: none;
}

.panel{
  background-color: #CFEDF7;
  border: none;
  border-radius: 5px;
}

.top-bar {
  background-color: #00A1D4;
}

.top-bar-section .has-form{
  background-color: #00A1D4;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #00A1D4;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
  background-color: #DE006E;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"]{
  border: none;
}

.top-bar-section ul li>a.button:hover {
  background-color: #DE006E;
}

.top-bar-section ul li>a.button{
  background-color: #DE006E;
  border-radius: 5px;
  b
}

.top-bar-section ul {
  background-color: #00A1D4;
}

.title-area > li.name > h1 > a{
	font-family: officieldessorties !important;
}

.footer {
  background:#0F80AA;
  color:#FFF;
  padding-top: 10px;
}

.footer-bottom {
  background-color: #00A1D4;
  padding-top: 10px;
}

.footer-bottom a{
  color: #DE006E;
}

.footer a{
  color:#FFF;
}



.bg-blanc{
  background-color: #FFF;
}
.bg-bleu{
  background-color: #0F80AA;
}
.bg-bleu-clair{
  background-color: #C4E9F6;
}
.bg-bleu-fonce{
  background-color: #0F80AA;
}
.bg-rose{
  background-color: #DE006E;
}



.fg-blanc{
  color: #FFF;
}
.fg-bleu{
  color: #0F80AA;
}
.fg-bleu-clair{
  color: #C4E9F6;
}
.fg-bleu-fonce{
  color: #0F80AA;
}
.fg-rose{
  color: #DE006E;
}










@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
