div.navbar.navbar-default.navbar-static-top(role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(data-toggle="collapse", type="button", data-target=".navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") Officiel des sorties
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active: a(href="/mon-compte") Mon compte
				li: a(href="/mes-evenements") Mes evenement