div#connexionModal.reveal-modal(data-reveal)
	h2 Connexion
		p Bibi elle pu
div#loginModal.reveal-modal(data-reveal)
	h2 Login
		p Bibi elle pu

// Affiche un item menu actif ou pas
mixin item(title, url)
	li(class=active == title ? 'active' : '')
		a(href=url)= title

nav.top-bar(data-topbar)
	ul.title-area
		li.name
			h1
				a(href='/') Officiel des sorties
		li.toggle-topbar.menu-icon
			a(href="#")
	section.top-bar-section
		ul.left
			li.has-form
				a.x-small.button(href="/mes-evenements/nouveau") Créer un évenement
			li.divider
			+item('Mon compte', '/mon-compte')
				//a(href="/mon-compte") Mon compte
			li.divider
			+item('Mes événements', '/mes-evenements')
				span.round.label #{count_my_event}
		ul.right
			li.has-form
				a.x-small.button(href='#'  data-reveal-id="connexionModal") Connexion
			li.has-form
				a.x-small.button(href='#'  data-reveal-id="loginModal") Login
