extends ../layout

block content
	div.row
		div.small-12.large-12.columns
			div.panel.bg-blanc
				h1.fg-bleu-fonce #{title}
				hr
				h3 Lorem ipsum Excepteur veniam ex tempor Duis Excepteur id occaecat fugiat qui consequat. Lorem ipsum Duis commodo proident consectetur laboris veniam voluptate reprehenderit consequat occaecat proident exercitation. Lorem ipsum Reprehenderit ex adipisicing elit qui aliqua Excepteur sunt non voluptate do Excepteur laborum. Lorem ipsum Aliquip nulla enim ut tempor qui dolor in id deserunt. Lorem ipsum In dolore eiusmod sunt incididunt officia ex.